<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-0UHOTTS\\SQLEXPRESS; Initial Catalog = Final_Lab_Doamne_Ajuta; Integrated Security = True;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--
		<add key="Database" value="chess"/>
		<add key="ParentTableName" value="ChessboardCompany"/>
		<add key="ChildTableName" value="Chessboard"/>
		<add key="SelectChild" value="select * from Chessboard"/>
		<add key="SelectParent" value="select * from ChessboardCompany"/>
		<add key="ChildForeignKey" value="comp_id"/>
		<add key="ParentReferencedKey" value="comp_id"/>
		<add key="ForeignKey" value="FK__Chessboar__comp__29572725"/>
		-->

		<add key="Database" value="Final_Lab_Doamne_Ajuta"/>
		<add key="ParentTableName" value="Certification"/>
		<add key="ChildTableName" value="Freelancer"/>
		<add key="SelectChild" value="select * from Freelancer"/>
		<add key="SelectParent" value="select * from Certification"/>
		<add key="ChildForeignKey" value="freelancer_id"/>
		<add key="ParentReferencedKey" value="freelancer_id"/>
		<add key="ForeignKey" value="FK_Freelancer_Certification"/>
	</appSettings>
</configuration>